.fotter{
    position: sticky;
    bottom: 0;
    background-color: rgb(59, 58, 58);
    padding:25px 150px;
    display: flex;
    justify-content: space-between;
   
}
.fotter__info{
    display: flex;
    flex-direction: column;
   
}
.fotter__links{
    display: flex;
    justify-content: space-between;
    padding: 0 !important;
    margin-bottom: 5px;
    list-style: none;
}
.fotter__links>li{
    
    color: white;
}
.fotter__info>p{
    color: grey;
    font-size: 0.6rem;
}
@media only screen and (max-width: 1200px) {
    .fotter{
        padding:15px;
    }
    .fotter__info{
        width: 45%;
    }
}